* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: white;
  border: 5px solid orange;
}

#main {
  min-height: 90vh;
  margin: 2%;
  background-color: #cfe9d2;
  border: 5px solid purple;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
}

.non-arith {
  color: white;
  background-color: #40cf4d;
  place-self: center;
}
.arith {
  background-color: #88ce8e;
  place-self: center;
}

#result {
  color: white;
  background-color: #40cf4d;
  justify-self: end;
  grid-column: 2 / span 3;
}
